{% extends 'identifikasi_donor/base.html' %} {% block content %}
<section class="tentang">
  <h1 class="tentang-title">About the Application</h1>
  <div class="tentang-container">
    <div class="tentang-image">
      <img src="/static/img/bg3.jpg" alt="Gambar terkait aplikasi" />
    </div>
    <br />
    <div class="tentang-text">
      <p>
        The web-based AI system for Intelligent Blood Donor Identification has
        been developed to enhance efficiency and accuracy in the donor selection
        process. Utilizing advanced artificial intelligence algorithms, this
        system can quickly and accurately analyze and predict the eligibility
        status of prospective donors. This innovation aims to assist blood
        donation centers in optimizing the screening process and increasing the
        availability of safe blood for transfusions.
      </p>
      <p>
        This AI system can recognize patterns and identify key factors that
        influence a person's eligibility to donate blood. By leveraging machine
        learning algorithms, the system can expedite the selection process and
        help reduce the risk of rejecting donors who do not meet the criteria.
        This improves the operational efficiency of blood donation centers and
        the quality of service to prospective donors.
      </p>
    </div>
  </div>
</section>
{% endblock %}
